@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium.eot');
  src: url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf') format('truetype'), url('../fonts/Geometria-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.eot');
  src: url('../fonts/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold.ttf') format('truetype'), url('../fonts/Geometria-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothaProReg';
  src: url('../fonts/GothaProReg.eot');
  src: url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype'), url('../fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-ExtaBlack';
  src: url('../fonts/Geometria-ExtaBlack.eot');
  src: url('../fonts/Geometria-ExtaBlack.woff') format('woff'), url('../fonts/Geometria-ExtaBlack.ttf') format('truetype'), url('../fonts/Geometria-ExtaBlack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$WidthContent: 1500px;

$FontNavigation: 'Geometria-Medium';
$ColorNavigation: #494949;
$ColorNavigationHover: #4622ff;
$ColorNavigationAttention: #be2a2a;
$FontSizeNavigation: 13px;

$FontLogin: 'Geometria-Bold';
$ColorLogin: #000000;
$FontSizeLogin: 15px;
$ColorloginAttention: #be2a2a;

$HeaderColor: #f2f2f2;

$FontSearch: 'GothaProReg';
$FontPhone: 'Geometria-ExtaBlack';

.clearfix {
  clear: both;
}

.b-navigation {
  width: $WidthContent;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 20px;
}

.b-navigation-menu {
  list-style: none;
  float: left;
  &__item {
    display: inline-block;
    margin-right: 40px;
  }
  &__link {
    font-size: $FontSizeNavigation;
    font-family: $FontNavigation;
    color: $ColorNavigation;
    transition: .3s;
    text-decoration: none;
    &_attention {
      color: $ColorNavigationAttention !important;
    }
  }
  &__link:hover {
    color: $ColorNavigationHover;
  }
}

;
.b-navigation-login {
  list-style: none;
  float: right;
  &__item {
    display: inline-block;
    margin-right: 20px;
  }
  &__link {
    font-size: $FontSizeLogin;
    font-family: $FontLogin;
    color: $ColorLogin;
    text-decoration: none;
    &_attention {
      color: $ColorloginAttention;
    }
  }
}

.b-header {
  min-width: $WidthContent;
  background-color: $HeaderColor;
  height: 145px;
  width: 100%;
}

.b-header-main {
  width: $WidthContent;
  margin: 0 auto;
  display: flex;
  &__logo {
    padding-top: 17px;
    padding-bottom: 13px;
    margin-right: 30px;
  }
}

.b-search-wrap {
  border: 1px solid #e3e3e3;
  display: flex;
}

.b-search {
  display: flex;
  padding-top: 53px;
  padding-bottom: 50px;
  margin-right: 52px;
  &__field {
    font-family: $FontSearch;
    font-size: 13px;
    padding: 10px 20px;
    color: #494949;
    width: 420px;
    border: none;
  }
  &__field::placeholder {
    color: #494949;
  }
  &__btn {
    border: none;
    width: 80px;
    height: 100%;
    background-color: #be2a2a;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: rgba(190, 33, 22, 0.82);
  }
}

.b-header-main__phone {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 50px;
}

.b-phone {
  &__number-top {
    font-size: 20px;
    font-family: $FontPhone;
    text-decoration: none !important;
    color: $ColorloginAttention;
    margin-bottom: 6px;
  }
  &__number-top:hover {
    text-decoration: underline;

  }
  &__number-bottom {
    font-size: 20px;
    font-family: $FontPhone;
    text-decoration: none !important;
    color: #393476;
  }
  &__number-bottom:hover {
    text-decoration: underline;
  }
  &__button {
    margin-top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $FontNavigation;
    font-size: 12px;
    color: #494949;
    border-bottom: 1px dashed #494949;
    text-align: left;
    padding: 0;
  }
}

.b-header-main__like {
  margin-right: 25px;
}

.b-like {
  text-align: center;
  padding-top: 50px;
  &__icon {
    color: #999999;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 18px;
  }
  &__icon:hover {
    color: $ColorloginAttention;
  }
  &__count {
    font-family: $FontNavigation;
    font-size: 15px;
  }
}

.b-cart {
  padding-top: 50px;
  &__icon {
    text-align: center;
    font-size: 28px;
    color: #393476;
    margin-bottom: 12px;
  }
  &__info {
    font-size: 15px;
    font-family: $FontNavigation;
    &__count {
      color: #393476;
    }
    &__price {
      color: $ColorloginAttention;
    }
  }
}

.b-menu {
  height: 67px;
  width: $WidthContent;
  margin: 0 auto;
}

.list-menu {
  width: 1145px;
  margin: 28px auto;
  &__item {
    display: inline-block;
    margin-right: 34px;
  }
  &__item:last-child {
    margin-right: 0 !important;
  }
  &__link {
    font-family: $FontLogin;
    font-size: 15px;
    text-decoration: none;
  }
}

.link-left {
  color: #393476
}

.link-right {
  color: $ColorloginAttention;
}