@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium.eot');
  src: url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf') format('truetype'), url('../fonts/Geometria-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.eot');
  src: url('../fonts/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold.ttf') format('truetype'), url('../fonts/Geometria-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothaProReg';
  src: url('../fonts/GothaProReg.eot');
  src: url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype'), url('../fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-ExtaBlack';
  src: url('../fonts/Geometria-ExtaBlack.eot');
  src: url('../fonts/Geometria-ExtaBlack.woff') format('woff'), url('../fonts/Geometria-ExtaBlack.ttf') format('truetype'), url('../fonts/Geometria-ExtaBlack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('../fonts/Geometria-Heavy.eot');
  src: url('../fonts/Geometria-Heavy.woff') format('woff'), url('../fonts/Geometria-Heavy.ttf') format('truetype'), url('../fonts/Geometria-Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$FontCategory: 'Geometria-Heavy';

$WidthContent: 1500px;

$FontNavigation: 'Geometria-Medium';
$ColorNavigation: #494949;
$ColorNavigationHover: #4622ff;
$ColorNavigationAttention: #be2a2a;
$FontSizeNavigation: 13px;

$FontLogin: 'Geometria-Bold';
$ColorLogin: #000000;
$FontSizeLogin: 15px;
$ColorloginAttention: #be2a2a;

$HeaderColor: #f2f2f2;

$FontSearch: 'GothaProReg';
$FontPhone: 'Geometria-ExtaBlack';

.clearfix {
  clear: both;
}

.b-navigation {
  width: $WidthContent;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 20px;
}

.b-navigation-menu {
  list-style: none;
  float: left;
  &__item {
    display: inline-block;
    margin-right: 40px;
  }
  &__link {
    font-size: $FontSizeNavigation;
    font-family: $FontNavigation;
    color: $ColorNavigation;
    transition: .3s;
    text-decoration: none;
    &_attention {
      color: $ColorNavigationAttention !important;
    }
  }
  &__link:hover {
    color: $ColorNavigationHover;
  }
}

;
.b-navigation-login {
  list-style: none;
  float: right;
  &__item {
    display: inline-block;
    margin-right: 20px;
  }
  &__link {
    font-size: $FontSizeLogin;
    font-family: $FontLogin;
    color: $ColorLogin;
    text-decoration: none;
    &_attention {
      color: $ColorloginAttention;
    }
  }
}

.b-header {
  min-width: $WidthContent;
  background-color: $HeaderColor;
  height: 145px;
  width: 100%;
}

.b-header-main {
  width: $WidthContent;
  margin: 0 auto;
  display: flex;
  &__logo {
    padding-top: 17px;
    padding-bottom: 13px;
    margin-right: 30px;
  }
}

.b-search-wrap {
  border: 1px solid #e3e3e3;
  display: flex;
}

.b-search {
  display: flex;
  padding-top: 53px;
  padding-bottom: 50px;
  margin-right: 52px;
  &__field {
    font-family: $FontSearch;
    font-size: 13px;
    padding: 10px 20px;
    color: #494949;
    width: 420px;
    border: none;
  }
  &__field::placeholder {
    color: #494949;
  }
  &__btn {
    border: none;
    width: 80px;
    height: 100%;
    background-color: #be2a2a;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: rgba(190, 33, 22, 0.82);
  }
}

.b-header-main__phone {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 50px;
}

.b-phone {
  &__number-top {
    font-size: 20px;
    font-family: $FontPhone;
    text-decoration: none !important;
    color: $ColorloginAttention;
    margin-bottom: 6px;
  }
  &__number-top:hover {
    text-decoration: underline;

  }
  &__number-bottom {
    font-size: 20px;
    font-family: $FontPhone;
    text-decoration: none !important;
    color: #393476;
  }
  &__number-bottom:hover {
    text-decoration: underline;
  }
  &__button {
    margin-top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $FontNavigation;
    font-size: 12px;
    color: #494949;
    border-bottom: 1px dashed #494949;
    text-align: left;
    padding: 0;
  }
}

.b-header-main__like {
  margin-right: 25px;
}

.b-like {
  text-align: center;
  padding-top: 50px;
  &__icon {
    color: #999999;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 18px;
  }
  &__icon:hover {
    color: $ColorloginAttention;
  }
  &__count {
    font-family: $FontNavigation;
    font-size: 15px;
  }
}

.b-cart {
  padding-top: 50px;
  &__icon {
    text-align: center;
    font-size: 28px;
    color: #393476;
    margin-bottom: 12px;
  }
  &__info {
    font-size: 15px;
    font-family: $FontNavigation;
    &__count {
      color: #393476;
    }
    &__price {
      color: $ColorloginAttention;
    }
  }
}

.b-menu {
  height: 15px;
  width: $WidthContent;
  margin: 0 auto;
  padding: 28px 0;
  border-bottom: 1px solid transparent;
}

.list-menu {
  width: 1145px;
  margin: 0 auto;
  &__item {
    display: inline-block;
    margin-right: 34px;
  }
  &__item:last-child {
    margin-right: 0 !important;
  }
  &__link {
    font-family: $FontLogin;
    font-size: 15px;
    text-decoration: none;
  }
}

.link-left {
  color: #393476
}

.link-right {
  color: $ColorloginAttention;
}

.b-slider {
  width: $WidthContent;
  margin: 0 auto;
  margin-bottom: 25px;
}

.slides__item {
  display: flex !important;
  width: 1500px;
  height: 516px;
  justify-content: space-between;
  align-items: center;
}

.btn-prev, .btn-next {
  border: none;
  background-color: rgba(7, 0, 9, 0.46);
  padding: 20px 20px;
  color: #ffed01;
  cursor: pointer;
}

.b-brand {
  width: $WidthContent;
  margin: 0 auto;
}

.b-brand-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b-nav-brand-next {
  width: 55px;
  margin-left: 16px;
}

.b-nav-brand-prev {
  width: 55px;
  margin-right: 16px;
}

.b-nav-brand-carousel {
  width: 1325px;
  height: 76px;
}

.owl-carousel__pic {
  width: 76px;
  height: 76px;
}

.btn-brand-next, .btn-brand-prev {
  height: 56px;
  width: 56px;
  text-align: center;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}

.owl-item {
  text-align: center;
}

.b-store {
  margin-top: 25px;
  background-color: $HeaderColor;
  &__main {
    width: $WidthContent;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-around;
  }
}

.store-col {
  width: 350px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store-col__box {
  width: 100%;
  height: 370px;
}

.store-col__box-bottom {
  margin-top: 20px;
}

.store-category__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 350px;
}

.img-circle {
  border-radius: 50%;
}

.store-category__title {
  color: white;
  font-family: $FontCategory;
}

.link-category {
  text-decoration: none;
}

.store-category__title {
  text-align: center;
  position: relative;
  bottom: 80px;
  font-size: 25px;
}

.store-category-long {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none !important;
}

.store-category-long__title {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 100%;
  font-family: $FontCategory;
}

.store-category-gift {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-category-gift__title {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 100%;
  font-family: $FontCategory;
}

.b-new__main {
  width: $WidthContent;
  margin: 0 auto;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.b-new__line {
  width: 100%;
  height: 3px;
  background-color: #999999;
}

.b-new__text {
  text-align: center;
  width: 550px;
  font-size: 25px;
  color: #999999;
  font-family: $FontLogin;
  margin: 0 15px;
}

.b-nav-bottom__main {
  width: $WidthContent;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 10px;
}

.bottom-menu__item {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom-menu__item_active {
  background-color: #3a3774;
  a {
    color: white !important;
  }
}

.bottom-menu__item:first-child {
  padding-left: 0;
}

.bottom-menu__link {
  font-size: 13px;
  color: black;
  font-family: $FontNavigation;
  text-decoration: none;
}

.bottom-menu__item:hover {
  outline: 1px solid #b2b2b2;
}

.bottom-category__link {
  font-size: 13px;
  color: black;
  font-family: $FontNavigation;
  text-decoration: none;
  padding-right: 3px;
}

.b-product {
  background-color: $HeaderColor;
  width: $WidthContent;
  margin: 0 auto;
  margin-top: 10px;

}

.b-product__main {
  background-color: $HeaderColor;
  width: 1480px;
  margin: 0 auto;
  height: 890px;
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.b-product__main-btn {
  padding: 0;
  display: block;
  background-color: $HeaderColor;
  width: $WidthContent;
  margin: 0 auto;
  text-align: center;
  border: none;
  height: 55px;
  cursor: pointer;
  font-size: 13px;
  font-family: $FontNavigation;
  color: black;
}

.b-product-col {
  width: 200px;
  height: 900px;
}

.product-box-short__title {
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: $FontLogin;
  margin-bottom: 3px;
}

.product-box-short__content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 200px;
  height: 200px;
}

.product-box-long__title {
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: $FontLogin;
  margin-bottom: 3px;
}

.product-box-long__content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 200px;
  height: 300px;
}

.product-box-short, .product-box-long {
  margin-bottom: 20px;
}

.product-box__description {
  height: 100px;
  background-color: white;
  display: flex;
}

.description__text {
  font-family: $FontNavigation;
  font-size: 12px;
  color: #494949;
}

.description__text-user {
  color: #999999;
  font-size: 11px;
  margin-top: 10px;
}

.description__text {
  padding: 10px 15px;
}

.product-box-short, .product-box-long {
  position: relative;
  transition: .4s;
}

.position-normal {
  transform: translateY(0) !important;
}

.b-promo {
  margin-top: 55px;
  background-color: #eeefee;
}

.b-promo-main {
  border-top: 1px solid transparent;
  width: $WidthContent;
  margin: 0 auto;
  height: 430px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/background-logo.jpg');
}

.b-promo__text {
  margin-top: 45px;
  text-align: center;
  font-size: 25px;
  font-family: $FontLogin;
  text-transform: uppercase;
}